<div id="book_vehicle_dialog" title="New Reservation">
	<div class="row">
	  <div class="span11">
	    <%# form_tag "#" do %>
	      <%= render 'shared/reservations/reservationform', vehicle: vehicle, res: res, act: 'new' %>
	      <div class="center-button">
			<%= button_tag "Make Reservation", class: "btn btn-large btn-primary" %>
		  </div>
	    <%# end %>
	  </div>
	</div>
</div>