<% provide(:title,'Open Fleet') %>
<div id="wheelmenu">
    <div id="wheel_round">
		<div id="wheel_inner">
			<div id="empty_space">
				<% if current_user.admin? %>
				<div id="empty_top">
					<div class="empty_text">
						<div id="top_t">Operation</div>
					</div>
				</div>
				<% end %>
				<div id="empty_left">
					<div class="empty_text">
						<div id="left_t">Board</div>
					</div>
				</div>
				<div id="empty_right">
					<div class="empty_text">
						<div id="right_t">Admin</div>
					</div>
				</div>
			</div>
			<div id="wheel_vertical"></div>
			<div id="beep"></div>
		</div>
    </div>
</div>
