<% provide(:title,"Sign in") %>

  <div class="row">
    <div id="signin" class="span4">
      <div class="well">
        <h2>Sign in</h2>
        <%= render 'shared/flash_messages' %>
        <%= render 'sessionform' %>
      </div>
    </div>
    <div class="span7 offset1">
      <%= render 'welcome_message' %>
    </div> 
  </div>