<div id="make_new_dialog" title="New Make">
	<h2>New Make</h1>
	<div class="row">
	  <div class="span3">
	    <%= form_for(@make) do |f| %>
	      <%= render 'makeform', f: f %>
	      <%= f.submit "Insert Make", class: "btn btn-large btn-primary" %>
	    <% end %>
	  </div>
	</div>
</div>