<% provide(:title, 'Sign up') %>
<h1><%= yield(:title) %></h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'userform', f: f %>
      <%= f.submit "Create Account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
