<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
      <% if object.is_a?(Vehicle)
        object.errors.each_with_index do |msg,i| %>
          <li>* <%= msg[1] %></li>
        <% end
      else
        object.errors.full_messages.each do |msg| %>
          <li>* <%= msg %></li>
        <% end
      end %>
    </ul>
  </div>
<% end %>