<li class="divider-vertical"></li>
<li class="dropdown"> 
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
    Menu <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Operation", '#' %></li>
    <li><%= link_to "Board", '#' %></li>
    <% if current_user.admin? %>
      <li><%= link_to "Administration", '#' %></li>
    <% end %>
    <li class="divider"></li>
    <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
  </ul>
</li>