<% provide(:title, "Edit Customer") %> 
<div class="main-content">
	<h2>Edit Customer</h2>
	<div class="row">
  	<div class="span6 offset3">
    	<%= form_for(@client) do |f| %>
      	<%= render 'clientform', f: f %>
      	<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    	<% end %>
  	</div>
	</div>
</div>