<div id="confirm_dialog" title="Confirmation">
	<label>Are you sure?</label>    
	<div class="center-button">
		<%= text_field_tag 'object_id' %>
		<%= button_tag "Yes", class: "yes btn btn-large btn-primary" %>
		<%= button_tag "No", class: "no btn btn-large btn-primary" %>
	</div>
	  
</div>