<li>
  <%= link_to "#{vehicle.model.make.make_name}_#{vehicle.model.model_name}", vehicle %>
  | <%= link_to "show", vehicle %>
  | <%= link_to "edit", edit_vehicle_path(vehicle) %>
  | <%= link_to "delete", vehicle, method: :delete, data: { confirm: "Are you sure?" } %>
  
</li>