@import "bootstrap";



/* Mixins, Variables, etc. */

$grayMediumLight: #eaeaea;
$backgroundCol: #d4d7fe;
$logoCol: #5e9dc8;
$menuDividerCol: #5f6b61;
$menuDropdownCol: #333333;
$navBarCol: #2c2c2c;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}



/* universal */

html {
  /*overflow-y: scroll;*/
}

body {
  padding-top: 90px;
  background-color: $backgroundCol;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/*.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}*/



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* Overridden Bootstrap Styles */

/*.container{
  margin:auto 1%;
  width:98%;
}
.icon-flag {
  margin-right: 5px;
}*/

.navbar-fixed-top{
  z-index: 1000;
}




/* Header - Navigation Bar */

header{
  #logo {
    line-height: 1;
    font-weight: bold;
    color: $logoCol;
    margin-right: 20px;
    img{
      vertical-align:middle;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .nav-collapse {
    #menu{
      font-size: 18px;
      padding-top: 8px;
      li a {
        color: $white;
        &:hover{
          color: $logoCol;
        }
      }
      .dropdown-menu{
        background-color: $menuDropdownCol;
        a {
          color:white;
          &:hover{
            background-color: $backgroundCol;
            color: $menuDropdownCol;
          }
        }
        &::after{
          border-bottom: 6px solid $menuDropdownCol;
        }
        .divider{
          background-color: $menuDividerCol;
          border-bottom: 1px solid $menuDropdownCol;
        }
      }
      #item_selected {
          #background-color: $navBarCol;
          color: lightBlue;
          #sub_selected a{
            background-color: $menuDropdownCol;
            color: lightBlue;
          }
          .dropdown-toggle{
            #background-color: $navBarCol;
            color: lightBlue;
          }
        }
    }
  }
  #right_items{
    padding-top: 8px;
    li a {
      color: $logoCol;
      &:hover{
        color: $white;
      }
    }
  }
}



/* Container */
.container .main-content{
  padding:20px;
  background-color:$white;
  .right-button{
    text-align:right;
  }
  .center-button{
    margin-top:40px;
    text-align:center;
  }
  .row{
    margin-left:0px;
  }
  [class*="span"]{
    margin-left:20px;
  }
  div.inline { 
    float:left; 
    margin-right:10px;
  }
  div.clearBoth { 
    clear:both; 
  }
  div.right { 
    float:right;
  }
}
.pagination-center {
  .pagination{
    text-align: center;
    clear:both;
  }
}



/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  text-align:center;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}



/* Sign in Page */

#signin{
  margin-top:30px;
  &.well{
    padding: 10px 38px;
  }
  div.centered{
    text-align:center;
    padding-top:10px;
  }
  /*form{
    margin: 0px;
  }*/
}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

#error_explanation, #make_error_explanation, #model_error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }



 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}



/* Vehicles index */

div.vehicles{
  
  width:100%;
  ul.vehicles {
    list-style: none;
    margin:0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-top: 1px solid $grayLighter;
      &:last-child {
        border-bottom: 1px solid $grayLighter;
        margin-bottom:10px;
      }
    }
    .vehicle-options{
      float:left;
      width:45%;
      padding: 20px 2px;
      ul.unstyled{
        margin-left: 30px;
        li{
          padding: 1px;
          border: 0;
          &:last-child {
            border: 0;
            margin-bottom:0;
          }
          div {
            clear:both;
            label{
              display: block;
              float:left;
              width:60px;
              font-weight:bold;
              margin-bottom:0px;
            }
          }
        }
      }
    }
  }
  div.odd{
    width:50%;
    float:left;
    /*border-right: 1px solid $grayLighter;*/
  }
  div.even{
    float:left;
    width:50%;
    /*border-left: 1px solid $grayLighter;*/
  }
}



/* Dialogs */
div#make_new_dialog, div#model_new_dialog{
  overflow:hidden;
  .center-button{
    margin-top:5px;
    text-align:center;
  }
}
/*div#model_new_dialog{
  overflow:hidden;
}*/



/* Models index */

div.models {
  margin: 0;
  width:100%;
  div.model {
    width:50%;
    float:left;
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
      margin-bottom:10px;
    }
  }
  .model-options{
    float:left;
    width:45%;
    padding: 20px 2px;
    ul.unstyled li{
      &:last-child {
        margin-top:6px;
      }
      textarea{
        width:170px;
        resize: none;
      }
      div {
        clear:both;
        label{
          display: block;
          float:left;
          width:50px;
          font-weight:bold;
          margin-bottom:1px;
        }
      }
    }
  }
}
div.model-index-image{
  float:left;
  width:50%;
  padding:5px;
  font-size: 14px;
  font-weight: bold;
  div:last-child{
    text-align:center;
    font-weight:normal;
    font-size:13px;
  }
}
