div#timeline_container{
	.row{
		height:400px;
	}
	div.openrent_timeline{
		overflow:visible;
	}
	.span11{
		height:100%;
	}
	.legend{
		padding: 4px 12px;
    	text-align: left;
    	font-weight:normal;
	}
}

.all_elements{
    text-align:left;
    padding-left:10px;
    padding-right:10px;
}
.cancelled{
	background:red;
	border-radius : 7px;
}
.confirmed{
	background:green;
	border-radius : 7px;
}
.pending{
	background:yellow;
	border-radius : 7px;
    color:black;
}
.completed{
    background:gray;
    border-radius : 7px;
}
.running{
    background:orange;
    border-radius : 7px;
}

.res_pickup_time{
    float:left;
    text-align:left;
    width:20%;
    &.only{
        width:50%;
    }
}
.res_customer{
    float:left;
    width:60%;
    height:100%;
    overflow:hidden;
    text-align:center;
    font-weight:bold;
}
.res_dropoff_time{
    width:20%;
    float:right;
    text-align:right;
    &.only{
        width:50%;
    }
}

/*.leg{
	background:lightblue;
}

.myimg{
	padding-top:5px;
}

.myimgp{
	text-align:center;
}

.myws{
    background: transparent;
    opacity:0.8;
    background-image: -webkit-linear-gradient(0, lightblue 50%, rgba(230, 230, 230, .5) 50%);
    background-image: -moz-linear-gradient(0, lightblue 50%, rgba(230, 230, 230, .5) 50%);
    background-image: -ms-linear-gradient(0, lightblue 50%, rgba(230, 230, 230, .5) 50%);
    background-image: -o-linear-gradient(0, lightblue 50%, rgba(230, 230, 230, .5) 50%);
}

*/