<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <%= render 'shared/app_logo' %>
      
      <ul class="nav pull-right">
        <li> <%= link_to "Help", help_path %> </li>
        <% if current_user  %>
            <%= render 'shared/user_options' %>
        <% end %>
      </ul>
    </div>
  </div>
</header>